<div class="container-fluid"
    <%= render 'layouts/head' %>
  <div id="Process" class="content">
    <h1>The Process</h1>
    <h3>The Basics</h3>
    <p class="lead">The Basics: You're out in the real world, you have no experience. Or maybe you have an array of random part­-time jobs and now want something more. Maybe you've been so busy getting that education that finding a job is a new and scary thing. Welcome to the basics. Here I will provide you with resume and cover letter making options.</p>
    <p>Option 1: A uniquely designed resume. You give me all the information, I'll ask the right questions and create 2 resume templates for you to choose from. One very classic and perfect for the business world. Another is a more creative, colored piece if you want to stand out and be bold.</p>
    <p>Option 2: One general cover letter that eloquently defines your past experiences, discusses your strengths, and gives an overview of your personality. All written for basic job descriptions.</p>
    <p>Option 3: A cover letter written for a specific job application. Caters your abilities and experiences to the application and provides a formal understanding of the necessary skills for that specific job.</p>
    <p>Option 4: A resume and cover letter combo.</p>
    <p>All options have the possibility of a mini information session. This session would include a “how to” for that specific task. How resumes should look along with language choice. Or what is needed in cover letters and how to phrase experiences in an advantageous way. LinkedIn and other social media resume help can be added to any of the above options. This is an easy way to learn how to make yourself more searchable and presentable on the web.</p>
    <h3>The Call</h3>
    <p class="lead">The Call: Okay they liked your resume, your cover letter rocked. But now what? They want to meet you! Maybe you’ve never been on a formal interview, maybe you don't know what to do next. I'm here to help!</p>
    <p>Option 1: Interview question and answer preparation. This would include specific questions that a job in your field would ask and a one­on­one session where you would get a chance to answer these questions with immediate feedback. I would teach you how to take your skill set and phrase it in a professional manner that ties in with the companies needs.</p>
    <p>Option 2: A thorough company history and overview study sheet. I would compile all the “need to know” information about the company you are interviewing with so that you have a strong understanding of their outlooks and goals. This would also include information about the position you have applied for and what it entails for the company.</p>
    <p>Option 3: What to wear. Business casual, business professional. You may not know the difference but I’m here to help you. This option gives you a one­on­one style consult that helps you learn what looks good on you and what you should be wearing. This option has an “in closet” and “in store” section. This means I can help you use clothes you already have or go personal shopping with you so you can find exactly what to wear (or a mix of both).</p>
    <h3>Life After</h3>
    <p>Life After: You got the job, not what?</p>
    <p>Option 1: Full wardrobe revamp. You may not have ever needed to dress business professional before and maybe you have no idea what looks good on you. I’m here to go personal shopping with you and also teach you the basics of what cuts, colors, and fabrics work together and work for you.</p>
  </div>
  
  <div id="About" class="content">
    <h1> About Me</h1>
    <h3>Testimonials</h3>
    <div class="row">
      <div class="col-md-3">
        <h5>Colin Walker - Student SFU</h5>
        <p>Before Dragana helped write my cover letters, I had applied to over 20 different jobs with no interview. She helped me write two cover letters, and I got two interviews.</p>
      </div>
      <div class="col-md-3">
      <p>Testimonial</p>
      </div>
      <div class="col-md-3">
        <p>Testimonial</p>
      </div>
    </div>
  </div>
  <%= render 'users/form' %>
</div>
