<h1 class="heading">Resume, Interview and Appearance Consultants</h1>
<p class="lead">Our Mission: To be with you every step of your application</p>
<div class="row">
  <div class="col-md-3 col-sm-6 tile">
    <h2 class="heading3">Application</h2>
    <div class="glyphicon glyphicon-menu-right" aria-hidden="true"></div> 
    <ul>
      <li>Finding the right position</li>
      <li>Recruiting agencies?</li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 tile">
    <h2 class="heading3">Resume/Cover Letter</h2>
    <div class="glyphicon glyphicon-menu-right" aria-hidden="true"></div> 
    <ul>
      <li>Original designs</li>
      <li>Professional writing</li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 tile">
    <h2 class="heading3">Interview</h2>
    <div class="glyphicon glyphicon-menu-right" aria-hidden="true"></div> 
    <ul>
      <li>Outfit preparation</li>
      <li>Practice interviews</li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 tile">
    <h2 class="heading3">Day One</h2>
    <div class="glyphicon glyphicon-menu-right" aria-hidden="true"></div> 
    <ul>
      <li>Wardrobe</li>
    </ul>
  </div>
</div>