<!-- content sliders -->
<div id="slider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://www.waterwhale.com/wp-content/uploads/2014/12/empire-state-1500x300.jpg" alt="The-Advantage">
      <div class="carousel-caption">
        <h2 class="slider-caption">Learn About the Optio Advantage</h2>
      </div>
    </div>

    <div class="item">
      <img src="http://www.duffys.ie/files/2013/07/DUFFYS-Inner-Header-1500x300.jpg" alt="Do-Not-Dress-Like-This">
      <div class="carousel-caption">
        <h2 class="slider-caption">Don't Dress Like This!</h2>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#slider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
